<!--
Name: Soham Patel
Date: March 28, 2024
-->
<header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="index.html">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4c0 1.1.9 2 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.8-3.1a5.5 5.5 0 0 0-2.8-6.3c.6-.4 1.3-.6 2-.6a3.5 3.5 0 0 1 .8 6.9Zm2.2 7.1h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1l-.5.8c1.9 1 3.1 3 3.1 5.2ZM4 7.5a3.5 3.5 0 0 1 5.5-2.9A5.5 5.5 0 0 0 6.7 11 3.5 3.5 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4c0 1.1.9 2 2 2h.5a6 6 0 0 1 3-5.2l-.4-.8Z" clip-rule="evenodd"/>
                        </svg>
                        <b>Harmony Hub</b>
                    </a>
    
                    <!-- All Hrefs -->
                    <a class="nav-link" href="views/content/home.html"><i class="fa-solid fa-project-diagram"></i> Home</a>
                    <a class="nav-link" href="views/content/portfolio.html"><i class="fa-solid fa-info"></i> Portfolio</a>
                    <a class="nav-link" href="views/content/services.html"><i class="fa-solid fa-map-signs"></i> Services</a>
                    <a class="nav-link" href="views/content/team-page.html"><i class="fa-solid fa-map-signs"></i> Team</a>
                    <a class="nav-link" href="views/content/blog.html"><i class="fa-solid fa-project-diagram"></i> Blog</a>
                    <a class="nav-link" href="views/content/gallery.html"><i class="fa-solid fa-project-diagram"></i> Gallery</a>
                    <a class="nav-link" href="views/content/event.html"><i class="fa-solid fa-project-diagram"></i> Events</a>
                    <a class="nav-link" href="views/content/statistics.html"><i class="fa-solid fa-project-diagram"></i> Statistics</a>
                    <a class="nav-link" href="views/content/add-events.html"><i class="fa-solid fa-project-diagram"></i> Add Events</a>
                    <!-- UV Index Display -->
                    <div class="uv-index" id="uv-index"></div>
                </ul>
            </div>
        </nav>
    </header>
